@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limita a no máximo 4 colunas */
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #2E8B3E;
}

.book-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.book-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.book-card .card-body img{
    border-radius: 20px;
}

.book-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha títulos e descrições centralmente */
}

.book-card .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 10px 0;
}

.book-card .card-text {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.book-card .btn {
    margin-top: auto; /* Empurra o botão para o final do card */
}

#sidebar {
    width: 100px;
    min-width: 70px;
    z-index: 1000;
    transition: all .30s ease-in-out;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 100px;
    min-width: 260px;
}

/* Botão de redirecionamento para watsap */ 
button {
    font-family: inherit;
    font-size: 12px;
    background: #2E8B3E;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
.buscar{
    font-family: inherit;
    font-size: 12px;
    background: white;
    color: #2E8B3E;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(5em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(11em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
}

#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
   
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #2E8B3E;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.data-bs-target{
    position: fixed;
}

.containergeral{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    grid-column: 2 / 4;
}
.desejo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.desejo h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Adiciona uma linha abaixo de cada item */
    margin-bottom: 15px; /* Espaço entre os itens */
}

.desejo ul {
    margin-bottom: 20px; /* Espaço entre a lista de livros e o próximo desejo */
}

.desejo ul li {
    margin-bottom: 10px; /* Espaço entre os itens dentro da lista de livros */
}

.desejo a {
    display: inline-block;
    margin-top: 10px;
    color: #0066cc; /* Cor do link de remover */
    text-decoration: none;
}

.desejo a:hover {
    text-decoration: underline;
    
}
.desejo img{
    border-radius: 30px;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.perfil img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.containerbusca{
    display: grid;
    grid-template-columns: 1fr;
    width: 200vh;
}
.search-container {
    padding: 10px 0; /* Mantém o padding vertical */
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    text-align: center; /* Centraliza o conteúdo dentro da div */
}

.search-container form {
    display: inline-flex; /* Faz com que o formulário ocupe apenas o espaço necessário */
    max-width: 600px; /* Define a largura máxima do formulário */
    width: 100%; /* Faz o formulário ocupar 100% da largura disponível até 600px */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

.search-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button.buscar {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #2E8B3E;
    color: #fff;
    cursor: pointer;
}

.search-container button.buscar:hover {
    background-color: #276a31;

}
.mostraroslivros{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limita a no máximo 4 colunas */
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #2E8B3E;
}
